<a href="https://colab.research.google.com/github/marifernosedal/Ejerciciospython/blob/main/actividadclase.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
cuentas = 0
while cuentas < 6:
    print(cuentas)
    cuentas = cuentas + 1

0
1
2
3
4
5

In [3]:
x = 0
while not x == 5:
    x = x + 1
    print("x = %d" % x)

x = 1
x = 2
x = 3
x = 4
x = 5

In [4]:
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

In [8]:
#calcular la suma de los números del 1 al 50
suma= 0 #vamos a almacenar la suma
i=1 #contador
while i <50:
  suma+= i #suma=suma+1
  i += 1

print("la suma de los números del 1 al 50 es:", suma)

la suma de los números del 1 al 50 es: 1225

In [17]:
#calcular la suma de los números impares del 1 al 50
k=0
suma=0
while k<=50:
  n=2*k+1
  suma+=n
  k=k+1
print("resultado,",suma)

resultado, 2601

In [10]:
#fruits es una lista de 3 frutas. Las listas se construyen con un corchete, y los elementos de las listas
#se separan por comas
fruits = ["apple", "banana", "cherry"]
for i in fruits:
  print(i)

apple
banana
cherry

In [12]:
#siempre empieza desde el 0
for x in range(8):
  print(x)

0
1
2
3
4
5
6
7

In [13]:
fruits = ["apple", "banana", "cherry"] #lista
for x in fruits:
  print(x)
  if x == "banana": #cuando leas banana ya no imprimas lo que falta
    break

apple
banana

In [14]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

In [15]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

apple
cherry

In [16]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

In [28]:
#Calcular la suma de los primeros 50 números naturales.
#suma de gauss
suma=0
for i in range(1, 51):
  suma=i*(i+1)/2

  #quitar la sangría en estos casos en print

print("primeros 50 números", suma)

primeros 50 números 1275.0

In [29]:
#Imprimir los números del 1 al 10.
cuentas = 0
while cuentas < 11:
    print(cuentas)
    cuentas = cuentas + 1

0
1
2
3
4
5
6
7
8
9
10

In [31]:
#Imprimir los números pares entre 1 y 100.
#while
i=2
while i<=100:
  print(i)
  i+=2

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [33]:
#for
for i in range(2,101,2):
  print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100