<a href="https://colab.research.google.com/github/marifernosedal/Ejerciciospython/blob/main/Tarea3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [38]:
# Ejercicio 1 - Conversión de dólares a otras monedas

print("Ejercicio 1\n")

usd = 50  # dólares de ejemplo

# Tasas de cambio
mxn = usd * 18
eur = usd * 0.92
gbp = usd * 0.78
cny = usd * 7.3
rub = usd * 96

print(f"{usd} USD equivalen a:")
print(f"{mxn} pesos mexicanos")
print(f"{eur} euros")
print(f"{gbp} libras esterlinas")
print(f"{cny} yuanes")
print(f"{rub} rublos")

Ejercicio 1

50 USD equivalen a:
900 pesos mexicanos
46.0 euros
39.0 libras esterlinas
365.0 yuanes
4800 rublos

In [39]:
# Ejercicio 2 - Operaciones básicas entre dos números

print("Ejercicio 2\n")

# Valores de ejemplo
a = 8
b = 3

# Operaciones
suma = a + b
resta = a - b
multiplicacion = a * b
division = a / b
potencia = a ** b
raiz_a = a ** 0.5
raiz_b = b ** 0.5

# Mostrar resultados
print(f"{a} + {b} = {suma}")
print(f"{a} - {b} = {resta}")
print(f"{a} * {b} = {multiplicacion}")
print(f"{a} / {b} = {division:.2f}")
print(f"{a}^{b} = {potencia}")
print(f"Raíz cuadrada de {a} = {raiz_a:.2f}")
print(f"Raíz cuadrada de {b} = {raiz_b:.2f}")

Ejercicio 2

8 + 3 = 11
8 - 3 = 5
8 * 3 = 24
8 / 3 = 2.67
8^3 = 512
Raíz cuadrada de 8 = 2.83
Raíz cuadrada de 3 = 1.73

In [40]:
# Ejercicio 3 - Precio final con descuento

print("Ejercicio 3\n")

# Valores de ejemplo
precio_original = 150.0  # precio en pesos
descuento = 20           # porcentaje de descuento

# Cálculo del precio final
precio_final = precio_original * (1 - descuento / 100)

# Mostrar resultados
print(f"Precio original: ${precio_original:.2f}")
print(f"Descuento: {descuento}%")
print(f"Precio final: ${precio_final:.2f}")

Ejercicio 3

Precio original: $150.00
Descuento: 20%
Precio final: $120.00

In [41]:
# Ejercicio 4 - Conversión de coordenadas geográficas

print("Ejercicio 4\n")

# Coordenadas en grados, minutos, segundos
# 1. Estatua de la Libertad
lat1_g, lat1_m, lat1_s = 40, 41, 21
lon1_g, lon1_m, lon1_s = 74, 2, 40

# 2. Torre Eiffel
lat2_g, lat2_m, lat2_s = 48, 51, 12
lon2_g, lon2_m, lon2_s = 2, 20, 55

# 3. Sídney
lat3_g, lat3_m, lat3_s = 34, 3, 8
lon3_g, lon3_m, lon3_s = 151, 12, 33

# Conversión a grados decimales
lat1 = lat1_g + lat1_m/60 + lat1_s/3600
lon1 = -(lon1_g + lon1_m/60 + lon1_s/3600)  # Oeste negativo

lat2 = lat2_g + lat2_m/60 + lat2_s/3600
lon2 = lon2_g + lon2_m/60 + lon2_s/3600    # Este positivo

lat3 = -(lat3_g + lat3_m/60 + lat3_s/3600)  # Sur negativo
lon3 = lon3_g + lon3_m/60 + lon3_s/3600    # Este positivo

# Mostrar resultados
print(f"1. Estatua de la Libertad → ({lat1:.3f}, {lon1:.3f})")
print(f"2. Torre Eiffel → ({lat2:.3f}, {lon2:.3f})")
print(f"3. Sídney → ({lat3:.3f}, {lon3:.3f})")

Ejercicio 4

1. Estatua de la Libertad → (40.689, -74.044)
2. Torre Eiffel → (48.853, 2.349)
3. Sídney → (-34.052, 151.209)

In [42]:
# Ejercicio 5 - Energías del objeto

print("Ejercicio 5\n")

# Datos del objeto
m = 2      # masa en kg
h = 0.10   # altura en metros
v = 3      # velocidad en m/s
g = 9.8    # gravedad en m/s^2

# Cálculos de energía
Ec = 0.5 * m * v**2       # energía cinética
Ep = m * g * h            # energía potencial
Em = Ec + Ep              # energía mecánica total

# Mostrar resultados
print(f"Energía cinética (Ec): {Ec:.2f} J")
print(f"Energía potencial (Ep): {Ep:.2f} J")
print(f"Energía mecánica total (Em): {Em:.2f} J")

Ejercicio 5

Energía cinética (Ec): 9.00 J
Energía potencial (Ep): 1.96 J
Energía mecánica total (Em): 10.96 J

In [43]:
# Ejercicio 6 - Número par o impar

print("Ejercicio 6\n")

# Número de ejemplo
num = 17

# Determinar paridad
if num % 2 == 0:
    print(f"El número {num} es PAR.")
else:
    print(f"El número {num} es IMPAR.")

Ejercicio 6

El número 17 es IMPAR.

In [44]:
# Ejercicio 7 - Tipo de triángulo

print("Ejercicio 7\n")

# Lados de ejemplo
a, b, c = 5, 5, 7

# Verificar si forman un triángulo
if a + b > c and a + c > b and b + c > a:
    if a == b == c:
        tipo = "EQUILÁTERO"
    elif a == b or a == c or b == c:
        tipo = "ISÓSCELES"
    else:
        tipo = "ESCALENO"
    print(f"Los lados {a}, {b}, {c} forman un triángulo {tipo}.")
else:
    print(f"Los lados {a}, {b}, {c} NO forman un triángulo válido.")

Ejercicio 7

Los lados 5, 5, 7 forman un triángulo ISÓSCELES.

In [45]:
# Ejercicio 8 - Número mayor entre tres

print("Ejercicio 8\n")

# Números de ejemplo
x, y, z = 12, 45, 33

# Determinar el mayor
if x >= y and x >= z:
    mayor = x
elif y >= x and y >= z:
    mayor = y
else:
    mayor = z

# Mostrar resultado
print(f"Los números son {x}, {y}, {z}")
print(f"El mayor es: {mayor}")

Ejercicio 8

Los números son 12, 45, 33
El mayor es: 45

In [46]:
# Ejercicio 9 - Relación entre dos rectas

print("Ejercicio 9\n")

# Rectas de ejemplo: y = m1*x + b1 y y = m2*x + b2
m1, b1 = 2, 3
m2, b2 = 2, 5

# Verificar relación
if m1 == m2:
    if b1 == b2:
        print("Las rectas son COINCIDENTES.")
    else:
        print("Las rectas son PARALELAS.")
else:
    # Se intersectan
    x_inter = (b2 - b1) / (m1 - m2)
    y_inter = m1 * x_inter + b1
    print(f"Las rectas se INTERSECTAN en el punto ({x_inter:.2f}, {y_inter:.2f})")

Ejercicio 9

Las rectas son PARALELAS.

In [47]:
# Ejercicio 10 - Año bisiesto

print("Ejercicio 10\n")

# Año de ejemplo
anio = 2024

# Verificar si es bisiesto
if (anio % 4 == 0 and anio % 100 != 0) or (anio % 400 == 0):
    print(f"El año {anio} es BISIESTO.")
else:
    print(f"El año {anio} NO es bisiesto.")

Ejercicio 10

El año 2024 es BISIESTO.